*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#head{
    
    padding-top: 30px;
    background-color: #fff;
    height: 90px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

    
    

}
#head a{
    font-size: 25px;
    color: red;
}
#head h2{
    color: red;
}

.container{
    display: flex;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;

}

/*main*/
.container2{
    padding-top: 25px;
    padding-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.box{
    
    position: relative;
    padding: 4px;
    padding-left: 12px;
    border-radius: 2px;
    
    max-width: max-content;
    margin: 20px auto;
    


}

.ustkutu{
    position: relative;
    
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    
}
.ustkutu img{
    background: #fff;
    position: absolute;
    left: 232px;
    border-radius: 50%;
    bottom: 12.5px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    z-index: 1;
    cursor: pointer;
}
.form{
    width: 100%;
    margin: 1.7px;
}
.form:first-child{
    border-bottom: 2px solid gray;
}
.i1{

    color:rgb(0, 192, 176) ;
}
.i2{

    color:rgb(221, 17, 17) ;
}

.log{
    border: 0;
    appearance: none;
    outline: none;
}

.log2{
    outline: none;
    border: 0;
    appearance: none;

}



 .log::placeholder {  
                  
    /* Firefox, Chrome, Opera */ 
    
    font-style: italic;

} 

.ciftkutu{
    margin-top: 5px;
    display:flex;
}

.kutucuk{
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.kutucuk i{
    margin-left: 2px;
    margin-right: 3.5px;
    align-self: center;
}
.rota{
    border: none;
    margin-left: 5px;
    padding: 1px 5px;
    font-size: 10px;
    cursor: pointer;
    background-color:rgb(221, 17, 17) ;
    color: #fff;
}
#myDIV{


    display: flex;
}
.btn {
    margin-top: 5px;
    width: 33.33%;
    border: none;
    outline: none;
    padding: 1.5px 4px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 12px;
  }
  
  /* Style the active class, and buttons on mouse-over */
  .active {
    background-color: rgb(0, 147, 134);
    color: white;
  }

  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }

  .flex-container{
    position: relative;
    align-items: flex-start;
    display:flex;
    
  }

  .flex-container div{
     margin: 0;
    
  }

  .solkutu{
    justify-content: space-around;
    display: flex;
    border-top-right-radius:17.5px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0 -1.5px 0 0;
    height: 70px;
  }
  .ortakutu{
    
   
    border-bottom-left-radius: 17.5px;
    border-bottom-right-radius: 17.5px;
    box-shadow: rgba(0, 0, 0, 0.24) 0 1.5px 0 0;
    height: 29px;
  }
  .ortakutu img{
    position: absolute;
    padding: 5px;
    border-radius: 50%;
    background-color: rgb(0, 142, 116);
    
    left: 0;
    right: 0;
    margin: 0 auto;
    
   
    
    
  }
  .sagkutu{
    display: flex;
    justify-content: space-around;
    border-top-left-radius:17.5px ;
    box-shadow: rgba(0, 0, 0, 0.24) 0 -1.5px 0 0;
    height: 70px;
  }

  .iconss{
    font-size: 30px;
  }
  .logos{
    width: 32px;
    height: 32px;
   margin-top: 5px;
   cursor: pointer;
    
  }

  .flex-container a{

    color: black;
    text-decoration: none;
  }
  












